.content {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 361px);
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 950px) {
  .content {
    max-width: 584px;
    grid-template-rows: repeat(3, 361px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .content {
    max-width: 282px;
    display: flex;
    flex-direction: column;
  }
}
