.header__button {
  width: 24px;
  height: 18px;
  margin: 0 30px 0 0;
  padding: 0;
  background: transparent no-repeat center;
  background-image: url(../../../images/burger_icon.svg);
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  display: none;
}

.header__button:hover {
  opacity: .6;
  transition: opacity .3s ease;
}

@media screen and (max-width: 650px) {
  .header__button {
    display: block;
  }
}